<!doctype html>
<html lang="en">
  {{> head }}
  <body>
    <div class="home-body">
    <div class="box">
      <div class="logo-container-home">
        <img src="/static/checked.png" class="logo">
      </div>
      <div>
        <h1 class="heading shop-name">เรียบร้อย</h1>
      </div>
      <div>
        <div style="width: 85%; margin:auto">
          <p class="heading cut">เราได้รับรายการสั่งตัดของท่านเรียบร้อย ทางเราจะติดต่อกลับโดยเร็วที่สุด</p>
        </div>
      </div>
      <div>
        <a class="link" href="/order">
          <button class="next-button">สั่งตัดเพิ่ม</button>
        </a>
      </div>
    </div>
  </div>
    </div>
  </body>
</html>