<!doctype html>
<html lang="en">
{{> head }}

<body>
  <div class="home-body">
    <div class="box">
      <div class="logo-container-home">
        <img src="/static/Logo HCL White png.png" class="logo">
      </div>
      <div>
        <h1 class="heading shop-name">ร้านกระจกฮั้วเชียงล้ง</h1>
      </div>
      <div>
        <p class="heading cut">สั่งตัดกระจกลงไซส์</p>
      </div>
      <div>
        <a class="link" href="/order">
          <button class="next-button">ไปหน้าถัดไป</button>
        </a>
      </div>
    </div>
  </div>
</body>

</html>